<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <%= image_tag(@product.image_url, class: 'list_image') %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
<%= link_to "Search in market.yandex", "https://market.yandex.by/search?cvredirect=2&suggest_reqid=20073866897480250218515766796416&text=#{@product.title}" %>
</p>
<%= link_to 'Back', products_path %>
<% if can? :update, @product %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>