<!DOCTYPE html>
<html>
<head>
  <title>GlebK's new Online Store</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
</head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
        <%= link_to(image_tag("logo.png"), "/") %>
      <%= @page_title || "GlebK's stall" %>
    </div>
  <div id="columns">
    <div id="side">
      <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
          <% end %>
      <% end %>

        <ul>
          <p>
          <%= Time.zone.now%>
          </p>
        <% if current_admin_user %>
              <% if current_admin_user.role == 'admin' %>
                <%= link_to "Admin Features", admin_admin_users_path %>
              <%end%>
                <li>
                <%=link_to "#{current_admin_user.email}",admin_admin_user_path(current_admin_user.id) %>
              <li><%= link_to "Logout", destroy_admin_user_session_path%> </li>
        <% else %>
          <%= link_to "Login", new_admin_user_session_path  %>
        <% end %>
        <li><a href="/">Home</a></li>
        <li><a href="/faq">Questions</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
    <div id="main">
      <%= yield %>
  </div>
  </body>
</html>
